body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.applat{
    width: 96vw;
    min-height: 100vh;
    margin: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(195,163,217,1) 50%, rgba(184,112,222,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 0;
    font-family: 'Amatic SC';
    font-size: 90px;
    height: 80px;
    width: 350px;
    color: rgb(25, 23, 23);
}
section{
    width: 100%;
    height: 300px;
}
.information{
    width: 100%;
    height: 300px;
    background:url(asset/fond.webp);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(asset/wave.png);
    background-size: 1000px 100px;
}
.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom:0;
}
@keyframes animate{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom:10px;
}
@keyframes animate2{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }

}
.wave3{
    animation: animate3 20s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom:15px;
}
@keyframes animate3{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.wave4{
    animation: animate4 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom:20px;
}
@keyframes animate4{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}
.navbar{
    width: 96vw;
    height: 50px;
}
ul {
    list-style-type: none;
    width: 96vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(162, 114, 202, 0.589);
  }
a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Amatic SC';
    border-bottom: 0px solid black;
    transition: .3s;
}
a:hover{
    border-bottom: 2px solid black;
    transition: .3s;
}
.bienvenue{
    width: 96vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxbienvenue{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.formeanime{
    width: 65%;
    height: 550px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 30% 70% 86% 14% / 42% 30% 70% 58%; 
    border: 15px dashed white;
}
.presentation{
    width: 90%;
    height: 500px;
    opacity: .7;
    border-radius: 30% 70% 86% 14% / 42% 30% 70% 58%;
}
.bonjour{
    position: absolute;
    font-size: 160px;
    font-family: 'Amatic SC';
    color: rgb(0, 0, 0);
    z-index: 1000;
}
.introduction{
    width: 60%;
    height: 500px;
    box-sizing: border-box;
}
.intro{
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    position: relative;
}
.blob1{
    
}